<a href="https://colab.research.google.com/github/RXHem/BDA_R_demos/blob/master/Copy_of_DMMD_example_python_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This is an example of print statement

print("Hello!")

Hello!

In [ ]:
# Variable name is x
# x is an integer

x = 10
y = 20
print(x-y)

-10

In [ ]:
name = input("What is your name? ")

print(name)

What is your name? Stelios
Stelios

In [ ]:
# city is a variable (city is text)
city = input("Where are you from: ")

# , means concatenation of text
print("You are from",city)

Where are you from: London
You are from London

In [ ]:
# float is a decimal based number
amount = 12345.50

In [ ]:
# customers is a list!
customers = ['Stelios', 'Mary', 'Tom', 'Kate']
cities = ['London','Toronto','Tokyo','Paris']

In [ ]:
print(customers)
print(cities)

['Stelios', 'Mary', 'Tom', 'Kate']
['London', 'Toronto', 'Tokyo', 'Paris']

In [ ]:
#index           0        1       2      3
customers = ['Stelios', 'Mary', 'Tom', 'Kate']
cities = ['London','Toronto','Tokyo','Paris']

In [ ]:
print(customers[1])
print(cities[1])

Mary
Toronto

In [ ]:
# this is a dictionary!
# you create the index names (TITLES)
#                           name.            city        age
customers_dict = {"name":"Stelios","city":"London","age":32, "amount":1000 }

print(customers_dict["name"])
print(customers_dict["amount"])

Stelios
1000

In [ ]:
#                    0         1      2
customers_list = ["Stelios","London", 32]
customers_list[2]

32

This is an example of JSON like file.

In [ ]:
customers_dict = [
    {"name":"Stelios","city":"London","age":32, "amount":1000 },    # row 0
    {"name":"Kate","city":"Paris","age":25, "amount":1500 },        # row 1
    {"name":"Mary","city":"Toronto","age":36, "amount":2000 }       # row 2
]
print(customers_dict[1]['amount'])

1500

In [ ]:
twitter_data =  [
    {"name":"Stelios","city":"London", "post":"Hello world!", "organisation":"Education" },    # row 0
    {"name":"Kate","city":"Paris", "post":"Hi there!", "organisation":"Healthcare"  },      # row 1
    {"name":"Mary","city":"Toronto", "post":"I am using Twitter" },       # row 2
    {"name":"Mary","city":"Athens", "post":"I am from Athens" }       # row 3
]

print(twitter_data[2]['city'])

Toronto

Tutorial on Python:

* https://www.youtube.com/watch?v=nwjAHQERL08&list=PLGLfVvz_LVvTn3cK5e6LjhgGiSeVlIRwt

* Find a tutorial on using Python for JSON data

* https://towardsdatascience.com/twitter-json-data-processing-3f353a5deac4

* Tutorial on how to use colab:
- https://www.youtube.com/watch?v=RLYoEyIHL6A